<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>

<main>
    <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <div style="max-width: 1300px; margin: 0 auto">

        <div class="pt-5 pb-5 wrapper mx-auto" style="border-radius: 20px;">

            <th:block th:if="${words.size() == 0}">
                <h3 class="text-center text-dark">You don't have any words</h3>
            </th:block>

            <th:block th:if="${words.size() > 0}">
                <h1 class="text-center text-dark" th:text="|All my words|"></h1>
                <hr class="hr-2 my-form__hr" style="width: 85%;">
                <table class="table table-hover mx-auto" style="width: 85%;">
                    <thead>
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center">#</th>
                        <th class="col-md-3 text-center">English</th>
                        <th class="col-md-4 text-center">Bulgarian</th>
                        <th class="col-md-2 text-center">Hear</th>
                        <th class="col-md-2 text-center">My words</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="word, iter : ${words}">
                        <tr class="row mx-auto">
                            <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                            <td class="col-md-3 text-center" th:text="${word.english}"></td>
                            <td class="col-md-4 text-center" th:text="${word.bulgarian}"></td>
                            <td class="col-md-2 text-center">
                        <span th:id="${word.english}" onclick="textSpeak(this.id)">
                            <i class="far fa-play-circle"></i>
                        </span>
                            </td>
                            <td class="col-md-2 text-center">

                                <form th:method="POST"
                                      th:action="@{/words/remove-from-my/{endpoint}/{id}(endpoint='my', id=${word.id})}">
                                    <button class="btn btn-danger text-white">Remove</button>
                                </form>

                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </th:block>
            <hr class="hr-2 my-form__hr" style="width: 85%;">
        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>

<script>
    function textSpeak(id) {
        responsiveVoice.speak(id);
    }
</script>
</body>
</html>
